body{

}

.playlist{
    min-height: 100%;
    background: rgb(248,248,248);

}
.playlist-header{
    position: relative;
    padding: 30px 10px 30px 15px;
    overflow: hidden;

}
.playlist img{
    width: 100%;
    vertical-align: top;
}
.textoverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
}
.textoverflow2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.playlist-bg,.playlist-bg::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.playlist-bg{
    background-image: url("//music.163.com/api/img/blur/109951163004878113?param=170y170");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.playlist-bg::after{
    content: " ";
    background: rgba(0, 0, 0, .25);

}
.playlist-header-wrap{
    position: relative;
    display: flex;

}
.playlist-header-wrap > .playlist-header-img{
    position: relative;
    width: 114px;
    height: 114px;
}
.playlist-header-img::after{
    content: " ";
    display: block;
    position: absolute;
}
.playlist-header-img .earphone{
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 3;
    padding-left: 15px;
    color: #fff;
    font-size: 12px;
}
.icon-song{
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 0;
    padding: 0 8px;
    height: 17px;
    line-height: 17px;
    color: #fff;
    font-size: 9px;
    text-align: center;
    background-color: rgba(217,48,48,.8);
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}
.playlist-header-wrap > .playlist-header-content{
    position: relative;
    margin-left: 16px;
    flex-basis: 0;
    flex-grow: 1;

}

.playlist-header-wrap > .playlist-header-content h2{
    height: 45px;
    padding-top: 1px;
    font-size: 17px;
    line-height: 1.3;
    color: #fefefe;
}
.user{
    display: block;
    position: relative;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 20px;
    color: hsla(0,0%,100%,.7);
}
.playlist-header-wrap > .playlist-header-content img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
}

.playlist-info{
    margin: 0 10px 0 15px;
    padding-top: 10px;
    padding-bottom: 18px;
    line-height: 19px;
    color: #666;
    position: relative;
}
.playlist-info > .play-tag{
    display: flex;
    margin-bottom: 10px;
    line-height: 20px;
}
.playlist-info > .play-tag em{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding: 1px 8px;
    font-size: 12px;
}
.playlist-info > .play-tag em::after{
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50px;
}
.playlist-info > .play-desc{
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
.playlist-info > .arrow-up{
    position: absolute;
    bottom: 3px;
    right: 0;
    z-index: 3;
    width: 15px;
    height: 15px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 12px auto;
}
.arrow-up{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAANCAQAAAAZZWZbAAAAlElEQVR4AY2ShQ1CMRBA33efgSgD4B/3aPdfhwsO1Vdvz1OMZCwYExNIzhYlbUocJr5DybjKPPOrFHfxLRndXWVO7Bbfo9iQIdBykdOCBAslBxRrMgS/yl2cFRnfNHeVnkQXP97FU/6pOcvL8vel4nS/NEdbc/oxdr/Q3eoGV2Qvl3piusrxWRCPuJ4lg+BfU7JneAOq9xL9utncPAAAAABJRU5ErkJggg==);

}
.playlist-list h3{
    height: 23px;
    line-height: 23px;
    padding: 0 10px;
    font-size: 12px;
    color: #666;
    background-color: #eeeff0;
}

.songs{

}
.songs > .songs-item{
    display: flex;
    

}
.songs > .songs-item > .songs-num{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 17px;
    color: #999;
    
}
.songs > .songs-item > .songs-content{
    position: relative;
    display: flex;
    padding: 6px 0;
    flex: 1 1 auto;
    
}
.songs > .songs-item > .songs-content::after{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.songs > .songs-item .songs-content-wrap{
    flex: 1 1 auto;
    width: 0;
}

.songs > .songs-item .songs-title{
    font-size: 17px;
}
.songs > .songs-item .songs-info{
    font-size: 12px;
    color: #888;

}
.songs > .songs-item .songs-play{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 10px;
}
.songs > .songs-item .icon-play{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -24px 0;
}
.icon-play{
    
    background: url(//s3.music.126.net/m/s/img/index_icon_2x.png?5207a28…) no-repeat;
    background-size: 166px 97px;
}
